
<div class="wrapper">
	<ul id="scene" class="scene">
		<li class="layer" data-depth="0.00"></li>
		<li class="layer" data-depth="0.08"><h1 class="name">Lawrence Luk <small>ucsd '16</small></h1></li>
		<li class="layer" data-depth="0.10"><%= image_tag 'sun.png', width: 140, height: 140, class: "sun" %></li>
		<li class="layer" data-depth="0.24"><%= image_tag 'cloud1.png', width: 220, height: 140, class: "cloud" %></li>
		<li class="layer" data-depth="0.26"><%= image_tag 'boat1.png', width: 90, height: 110, class: "boat other" %></li>
		<li class="layer" data-depth="0.30"><div class="wave one">Loading ocean!</div></li>
		<li class="layer" data-depth="0.40"><div class="wave two"></div></li>
		<li class="layer" data-depth="0.57">
			<%= link_to "http://www.welcome.shipprr.com" do %>
				<%= image_tag 'boat2.png', width: 220, height: 260, class: "boat" %>
			<% end %></li>
		<li class="layer" data-depth="0.70"><div class="wave three"></div></li>
		<li class="layer" data-depth="0.92"><div class="wave four"></div></li>
		<li class="layer" data-depth="0.98"><div class="wave light"></div></li>
	</ul>
</div>
<div class="underblock"></div>
<div class="gap row overblock">
	<div class="col-lg-2 col-sm-2"></div>
	<div class="col-lg-6 col-sm-8">
		<div class="welcometext">
			I am currently a full time student at the <span title="tritons!!!">University of California San Diego</span>, studying
				Computer Engineering.
			<div class="gap">
				<span title="along with English, Mandarin, Cantonese, and learning 한국어">
					The languages I am familiar with include Java, C and C++, Ruby, Python, SPARC Assembly, and Objective C.</span>
			</div>
			<div class="gap">
				Projects I have worked on in the past include game development, mobile apps, Flash for linux touchscreens, and webapps.
			</div>
		</div>
	</div>
	<div class="col-lg-3 visible-lg center">
		<%= image_tag 'selfie.png', height: 260, width: 200, class: "img-rounded", title: "Getting those selfies on instagram" %>
	</div>
</div>
<div class="container">
	<div class="gap"></div>

	<div class="workingtitle gap">projects</div>
	<div class="row midsize">
		<div class="col-lg-1"></div>
		<div class="col-lg-10 gap">
			<%= link_to "Demigods", "http://dev.bukkit.org/bukkit-plugins/demigods/", target: "_blank" %> [2011-2012]: a Minecraft server plugin coded in Java. It allows players to alliance with deities from Greek mythology and use special powers in combat with each other. To date, the plugin has received
			<%= link_to "over 200,000 views", "http://www.youtube.com/user/MCTooMuch/videos", target: "_blank" %>
			and been downloaded 20,000 times. Demigods was my personal project up until version 2.0, when I passed the plugin on to new owners.
			<div class="gap"></div>
			<%= link_to "Shipprr", "http://shipprr.herokuapp.com", target: "_blank" %> [2013- ]: a "social media" website that allows users to easily
			create and follow Ships. Based on the relatively recent phenomenon of 
			<%= link_to "relation'shipping'", "http://en.wikipedia.org/wiki/Shipping_(fandom)", target: "_blank" %>
			, fandoms have come up with all kinds of pairings, canon or otherwise, for their favorite characters, celebrities, and even objects. Shipprr seeks to provide a central hub for sorts of fandoms to discuss all the Ships they love. Built in Ruby on Rails with Bootstrap. The site was briefly launched in September but is now being completely redesigned.
			<div class="gap"></div>
			<%= link_to "Vision Dynamics", "http://visiondynamics.cloudvent.net/", target: "_blank" %> [2013]: an optometry website recreated with Bootstrap. The development site with placeholder pages is linked, since the office is still adding more pages to the live version. You can see their current website <%= link_to "here", "http://vision-dynamics.com", target: "_blank" %>. Static pages created with plain HTML/CSS.
			<div class="gap"></div>
			<%= link_to "WasItWorth", "http://www.wasitworth.com/", target: "_blank" %> [2013]: the result of a recent hackathon. The goal of the
			site is to provide a place where students can leave short reviews and ratings for individual lectures, allowing other students to decide if it was "worth" going to class that day or not. I completed everything in about 16 hours of work from scratch, with friends doing the stick figure art. Created with Ruby on Rails and the Foundation grid.
			<div class="gap"></div>
			<%= link_to "Juiced Up!", juicedup_path, target: "_blank" %> [2013- ]: an incremental game in the style of 
			<%= link_to "Cookie Clicker", "http://orteil.dashnet.org/cookieclicker/" %>. Players obtain oranges by clicking or idling and turn them into orange juice, which can be spent on upgrades. Through upgrades the amount of Oranges per Second (OpS) and Orange Juice
			per Cycle (OJPC) can be increased, until millions of glasses of orange juice are being produced per cycle. Players can gamble their
			OpS with individual item upgrades and receive Bonuses that further increase OpS and OJPC.
			Over 3000 plays since release on December 31 2013 and counting!<br>
			Created with Bootstrap (all custom styling), JQuery, and a Rails backend.
			<div class="gap"></div>
			<%= link_to "This Site", "#" %> [2013- ]: Ruby on Rails, Bootstrap's grid, and
				<%= link_to "parallax.js", "http://stolksdorf.github.io/Parallaxjs/", target: "_blank" %> handling the fancy ocean scene up top.
		</div>
	</div>
	<div class="workingtitle gap">work</div>
	<div class="row midsize">
		<div class="col-lg-1"></div>
		<div class="col-lg-10 gap">
			<%= link_to "Quadbase", "http://www.quadbase.com/", target: "_blank" %> [2011]: a local SaaS business that produces data visualization software. I had a summer internship working on the mobile end of the EspressDashboard platform. In the process I made an iPhone app and a responsive web page with the help of my team members.
			<div class="gap"></div>
			<%= link_to "TouchMedia (cn)", "http://www.touchmedia.cn/", target: "_blank" %> [2012]: a company in Shanghai that produces touchscreens that go in the passenger headrests of Taxis across China and Canada. As an intern, I ran different touchscreen models through a 
			gamut of tests, everything from simulating monthly data updates and clicking through the proprietary Flash apps looking
			for bugs. I also taught myself Flash/ActionScript while I was there to build a Pong game for the device.
			<div class="gap"></div>
			<%= link_to "Bintang Badminton", "http://www.bintangbadminton.org/", target: "_blank" %> [2007-2012]: this isn't strictly related but badminton was such a huge part of my life that I'll put it down anyways. Throughout my years of training I reached rank 6th in the United States for mens' doubles in my age category, worked as a coach for Bintang Badminton, and volunteered as an umpire at large events.
			<div class="gap"></div>
			<strong>You!</strong> Are you an employer/looking for freelance work? Although my first priorities are as a student, I'd be more than happy to pick up some side work or a summer internship. Please <%= link_to 'contact me', "mailto:lluk@ucsd.edu"%> if you like what you see!
		</div>
	</div>
	<div class="workingtitle gap">links</div>
	<div class="center bigger">
		<%= link_to 'my resume', "https://dl.dropboxusercontent.com/u/19510798/Resume.docx" %><br>
		<%= link_to 'my github', "https://github.com/lawrenceluk/", target: "_blank" %><br>
		<%= link_to 'my blog', "http://blog.lwluk.com/", target: "_blank" %><br>
		<%= link_to 'email me', "mailto:lluk@ucsd.edu" %>
	</div>
	<div class="somespace">
		<%= image_tag 'ruby.png', height: 180, width: 280, title: "I drew this!!! It's a ruby gem get it??", class: "thagem" %>
	</div>
	<div class="tiny whitespace center end">
		
			<hr>
			© Lawrence Luk 2014. All art by me except the boats, 
				which were drawn by <%= link_to "Deanna Lam", "http://behance.net/deannalam", target: "_blank" %>.
	</div>
</div>
<div class="colorbar-fin"></div>

