<% content_for :title, "TwitNow" %>
<link href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css" rel="stylesheet">

<div id="hideoverx">
<div id="twitnow" class="row">
	<div class="col-sm-4 col-lg-3">
		<div id="sidecar">
			<div id="tnlogo">TwitNow</div>
		  <form method="get" action=<%= twitnow_path %>>
	      <input type="text submit" name="q" class="twitsearch" id="twitinput"
	        size="21" maxlength="120" pattern=".{1,}" required value="<%= params[:q] rescue "" %>" placeholder="#true">
	  	</form>
	  	<div id="sortoptions">
	  		<% if @rtype != 'recent' %>
	  			<%= link_to 'new', twitnow_path(q: @query, type: 'recent') %>
	  		<% else %> new <% end %>|
	  		<% if @rtype != 'popular' %>
	  			<%= link_to 'popular', twitnow_path(q: @query, type: 'popular') %> 
	  		<% else %> popular <% end %>|
	  		<% if @rtype != 'mixed' %>
	  			<%= link_to 'all', twitnow_path(q: @query, type: 'mixed') %>
	  		<% else %> all <% end %>
	  	</div>
	  	<div class="ld-button-zone">
	  		<input value="Load More" class="btn" id="more-button" readonly>
	  		<div id="more-status"></div>
	  	</div>
	  	<div id="tndescrip">
	  		Fetched <span id="fetched-num"><%= @results.to_a.size %></span> tweets.<br />
	  		Tweets retrieved using the Twitter REST API.<br />
	  		Searches are not guaranteed to be consistent or accurate.<br />
	  		<span id="request-time"></span><br />
	  		<%= link_to 'Lawrence Luk 2014', root_path %><br />
	  	</div>
  	</div>
	</div>
	<div class="col-sm-8 col-lg-9 masonryzone">
		<div id="masonjar">
			<% if @results.any? %>
				<% @results.each do |t| %>
					<%= render 'extras/tweet', t: t %>
				<% end %>
			<% else %>
				<div id='masonempty'>Nothing here!</div>
			<% end %>
  	</div>
  	<div class="gap"></div>
	</div>
</div>
</div>

<% content_for :javascript_includes do %>
	<%= javascript_include_tag "masonry.js" %>
	<script>
		var working = false;
		var OLDEST = <%= @oldest %>;
		var $container = $('#masonjar');
		$container.waitForImages(function(){
			$container.masonry({
			  columnWidth: 40,
			  itemSelector: '.mason-item'
			});
		});
		$("#more-button").click(function() {
			if (working) {
				return;
			}
			var start = new Date().getTime();
			var data = '<%= "q=#{@query}&type=#{@rtype}" %>';
			data += "&oldest="+OLDEST;
			$("#more-status").html("Loading...");
			working = true;
			$.ajax({
				url: "fetchmore",
				type: "GET",
				data: data,
				dataType: "HTML",
				success: function(response) {
					working = false;
					if (response.length > 0) {
						$container.append(response).waitForImages(function() {
							OLDEST = $("#_oldest").html();
							$("#fetched-num").html(parseInt($("#fetched-num").html())+parseInt($("#_count").html()));
							$("#_oldest").remove();
							$("#_count").remove();
							$container.masonry('reloadItems');
							window.setTimeout(function(){ 
								$("#more-status").html("");
								$("#masonjar").masonry();
							}, 100);
						});
					} else {
						$("#more-status").html("Invalid response received.");
					}
					var end = new Date().getTime();
					var time = end - start;
					$("#request-time").html("Loaded in "+(time/1000).toFixed(2)+" seconds.");
				}, error: function(response) {
					working = false;
					$("#more-status").html("Invalid query.");
				}
			});
		});
	</script>
<% end %>