<link rel="shortcut icon" href="/assets/favicon.ico" type="image/x-icon">
<link rel="icon" href="/assets/favicon.ico" type="image/x-icon">

<div class="juicedup">
<div class="row widthfix">
	<div class="col-xs-10 col-xs-offset-1 col-md-10 col-md-offset-1 col-lg-10 col-lg-offset-1">
		<div class="row">
			<div class="col-sm-4 col-lg-4" id="big_orange_area">
				<div class="big"><%= image_tag "big-orange.png", height: 30, title: "Oranges owned" %> <span id="o_count">0</span></div>
				<div class="counter"><span id="ops_count">0</span> Oranges per Second</div>
				<div id="orange_zone">
					<%= image_tag "big-orange.png", class: "bigorange", height: 160, id: "geto_button" %>
				</div>
			</div>
			<div class="col-sm-4 col-lg-6" id="makejuice_area">
				<div class="big"><%= image_tag "oj-glass.png", height: 30, title: "Glasses of OJ" %> <span id="oj_count">0</span></div>
				<div class="counter">Juice up to <span id="ojpc_count">3</span> <%= image_tag "big-orange.png", height: 20, title: "Oranges" %>
				 every <span id="ojcycle_count">15</span> Seconds <span class="small">→ <span id="ojpcc"></span> glasses of OJ</span></div>
				<div class="progress" style="width: 100%;">
				  <div class="progress-bar progress-bar-success" id="oj_cycle_bar" role="progressbar" aria-valuenow="60" aria-valuemin="0" aria-valuemax="50" style="width: 0%; transition: 0.05s;">
				  </div>
				</div>
				<div id="makeoj_button">
					<%= image_tag "oj-glass.png", class: "makeoj_image", height: 100 %> Juice Faster!
				</div>
			</div>
			<div class="col-lg-2 col-md-2">
				<div class="production_upgrades_zone">
					<div class="title center">Bonuses</div>
					<div class="shelf short unselectable" id="production_upgrades">
						<div class="placeholder" id="nobonuses">Nothing yet!</div>
					</div>
				</div>
			</div>
		</div>
		<div class="row gap">
			<div class="col-lg-4 col-md-4">
				<div class="outer_container">
					<div class="shelf">
						<div id="orange_income_shop"></div>
					</div>
				</div>
			</div>
			<div class="col-lg-4 col-md-4">
				<div id="omaker_detail"></div>
				<div id="shelf_container">
					<div id="omaker_shelf_purchases" class="center shelf unselectable translucent">
						<div id="emptyshelf" class="placeholder">Loading... <br><br>(JavaScript must be enabled)</div>
					</div>
					<div id="stats_zone" class="hidden shelf solider">
						You're playing Juiced Up! v<span id="s_version"></span><br>
						<br>
						Current glasses of OJ: <span id="s_oj"></span><br>
						Lifetime OJ: <span id="s_totaloj"></span><br>
						Juice Faster clicks: <span id="s_ojclicks"></span><br>
						OJ cycle time: <span id="s_ojcycle"></span> seconds (<span id="s_ojcycletime"></span> - <span id="s_bonusojcycletime"></span>)<br>
						OJ per cycle: <span id="s_ojpctotal"></span> (<span id="s_ojpc"></span> + <span id="s_bonusojpc"></span>)<br>
						OJ cycle upgrades purchased: <span id="s_ojpcbought"></span><br>
						<br>
						Current oranges: <span id="s_o"></span><br>
						Lifetime oranges: <span id="s_totalo"></span><br>
						Orange clicks: <span id="s_oclicks"></span><br>
						Oranges per click: <span id="s_clickreward"></span><br>
						Oranges per second: <span id="s_opstotal"></span> (<span id="s_ops"></span> + <span id="s_bonusops"></span>)<br>
						Orange makers: <span id="s_activeomakers"></span><br>
						<br>
						Bonus multiplier: <span id="s_bonus"></span>%<br>
						Base bonus time: <span id="s_bonustime"></span>s<br>
						FPS: <span id="s_fps"></span><br>
						Time played: <span id="s_time"></span>
						<hr>
						<div class="medium center">Support Me!</div>
						<%= image_tag "bitcoin.png", height: 40, title: "Bitcoin" %> <span class="small identifier">1F74cSWVs2m1QzaujqtaK1jNhB8wwga96u</span><br>
						<%= image_tag "doge.png", height: 40, title: "Dogecoin" %> <span class="small identifier">DP5hPiEEG8D4zA4R1GxsoJtAFQTXdeusFQ</span>
						<hr>
						<div class="gap">
							<div class="medium center">Changelog:</div>
							v0.3.03
							<ul>
								<li> Edit: REBIRTHS DISABLED AGAIN </li>
								<li>Re-implemented orange producer cost system and changed formula</li>
								<li>Fixed bug where orange producer costs were broken after rebirths</li>
								<li>Re-added rebirths</li>
								<li>4000 plays! Yay!</li>
							v0.3.01
							<ul>
								<li>Fixed bug where rebirthing didn't reset costs</li>
								<li>Upgrade counter now shows negative values</li>
							</ul>
							v0.3
							<ul>
								<li>Added three new orange makers: Sun God, Black Hole, Endgame Fantasy</li>
								<li>Added a new orange juice upgrade: Earth</li>
								<li>Bonuses hopefully fixed? Maybe?</li>
								<li>Shelf is now automatically sorted</li>
								<li>Clicking Save changes button to Back to return to Shelf/Stats easily</li>
								<li>Progress bar should animate smoother when Juice Faster! is clicked</li>
								<li>Minor visual changes</li>
								<li>Added prestige system! Called Rebirth, it is automatically triggered when you reach 3 trillion total oranges and 3 trillion total orange juice. Rebirthing clears out most of your stats but gives useful bonuses for the next round.
								</li>
							</ul>
							v0.2.01
							<ul>
								<li> Fixed a bug where bonuses would disappear too quickly </li>
								<li> Fixed a bug where failing an upgrade could still show (+1) </li>
								<li> Other minor bugfixes, cleanup </li>
							</ul>
							v0.2
							<ul>
								<li> Added 3 new Orange makers: Orange Mystery, Pandora's Box, and One True Orange </li>
								<li> Balanced OJ upgrade costs and production values </li>
								<li> OJ upgrades now show how much OJ they give per cycle </li>
								<li> Added a 5% of OpS scaling for clicks on the big orange </li>
								<li> Reduced the rate of receiving bonuses passively </li>
								<li> Fixed a bug that made bonuses work improperly </li>
								<li> Changed penalty for failure on upgrades to halving OpS instead of destroying the item </li>
								<li> Fixed bug where selling orange makers would reset the price </li>
								<li> Purchasing an Orange maker now automatically puts it in focus </li>
								<li> Oranges and Orange Juice owned changed to icons instead of words </li>
								<li> Lag on progress bar reduced </li>
								<li> Cost formula redone, no longer compound-exponential </li>
								<li> Reduced save size - more optimization coming soon </li>
								<li> Juiced Up has been played over 2350 times! Thank you! </li>
							</ul>
							v0.11
							<ul>
								<li> Items now show number of successful upgrades </li>
								<li> Reduced "destroy on failure" chance to 12.5% from 25% </li>
								<li> Bonuses will be now be given randomly while idling </li>
								<li> Added "-1 s" animation for clicking Juice Faster! </li>
								<li> Hopefully fixed negative bonuses </li>
								<li> Added Dogecoin and Bitcoin tips :] </li>
								<li> Thanks for playing over 600 times already! </li>
							</ul><br>
							v0.1
							<ul>
								<li> Release </li>
								<li> All artwork highly subject to change </li>
							</ul>
						</div>
					</div>
					<div id="save_zone" class="hidden shelf solider">
						<div class='special'>Your unique identifier: 
							<span title="Save it! Don't forget it!" id='yourid' class='identifier'><%= @id %></span></div>
						<div class='medium gap'>
							All saved games are backed up to a server. To load your game from anywhere you'll need to know your unique ID.
						</div>
						<div class="medium gap">
							The game is saved every 30 seconds.<br>
						</div>
						<div class="small center">
							Next save in <span id="game_saved"></span> seconds
						</div>
						<div id='savebutton' class='o_option s'>Save Now</div>
						<hr>
						<div class="awesome">
							<input type="text" id="getloadid" name="newidentifier" class="thaform" placeholder="abcdefgh0...">
						</div>
						<div id='loadbutton' class='o_option s'>Load Save</div>
						<hr>
						<div class='small center'>Reset your game to default values.</div>
						<div id='resetbutton' class='o_option s'>Reset</div>
					</div>
					<div id="rebirth_zone" class="hidden shelf solider center">
						<div class='failed'>Warning: Rebirth still have some bugs that may break your save. Proceed at your own risk, or
							put it off until a fix has been released.</div>
						<br>
						Congratulations! 
						<div class="description gap">
							You have earned enough total oranges and orange juice to draw the attention of important intergalactic dignitaries.
						</div> 
						<div class="description gap">
							They wish to take your oranges and orange producing technology for their own civilizations. You will lose all of your
							oranges, orange juice, orange producers, and orange juice upgrades. You will effectively start over with nothing.
						</div>
						<div class="description gap">
							However, the aliens recognize good work when they see it, and will reward you for your effort. In addition, they will
							leave intact all of your <i>perfectly</i> upgraded (+7) orange producers. This will give you a substantial
							bonus in rebuilding your orange empire.
						</div>
						<div class="medium gap">
							Your rewards for accepting the offer of rebirth are as follows:
							<hr>
							<ul>
								<div id="rebirth_rewards" class="text-left counter"></div>
							</ul>
							<div id="do_rebirth"></div>
						</div>
					</div>
				</div>
			</div>
			<div class="col-lg-4 col-md-4">
				<div class="outer_container">
					<div class="shelf">
						<div id="ojpc_shop"></div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class="gap col-xs-1 col-md-1 col-lg-1 center" id="rebirth"></div>
</div>
<div class="footer widthfix row">
	<div class="col-lg-7 col-lg-offset-1 col-md-7 col-md-offset-1">
		<span id="newsflash">Loading...</span>
	</div>
	<div class="col-lg-1 col-md-1 col-sm-1 col-1">
		<div id="stats" class="item">Stats</div>
	</div>
	<div class="col-lg-1 col-md-1 col-sm-1 col-1">
		<div id="save" class="item">Save</div>
	</div>
	<div class="col-lg-2 col-md-2 col-sm-2 col-2">
		<div class="tiny center">
			<div id="whatversion"></div>
			Created by <%= link_to "Lawrence Luk", "http://lwluk.com", target: "_blank" %> 2014
			<div class="description">Optimized for Google Chrome</div>
		</div>
	</div>
</div>
</div>

<%= content_tag :div, class: "hidden", data: {temp: @temp} do %>
<% end %>

<% content_for :javascript_includes do %>
  <%= javascript_include_tag "game.js" %>
<% end %>