<% content_for :title, 'Lawrence Luk' %>
<link href="//maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css" rel="stylesheet">

<section class="header">
	<div class="title-picture">
		<%= image_tag 'me.png', height: 90, id: 'me-picture' %>
	</div>
	<div class="title-name">
		Lawrence Luk
	</div>
	<div class="title-bio">
		I am currently a full time student at the University of California San Diego, studying Computer Science.
	</div>
</section>
<section>
	<div class="section-title">
		<div class="work-picture">
			<%= image_tag "monitor.png", height: 40 %>
		</div>
		Work
	</div>
	<section>
		<div class="work">
			<aside>
				<div class="msft-picture"></div>
				Microsoft
			</aside>
			<article>
				<div>Software development engineer intern (Summer 2014)</div>
				<div>Designed and implemented a search answer for Bing and Cortana <span>(C#, XAML)</span></div>
				Created the discography section for celebrity pages on MSN Entertainment <span>(C#, .NET)</span>
			</article>
		</div>
	</section>
</section>
<section>
	<div class="section-title">
		<div class="proj-picture">
			<%= image_tag "hammer.png", height: 54 %>
		</div>
		Projects
	</div>
	<!-- http://tympanus.net/codrops/2012/08/08/circle-hover-effects-with-css-transitions/ -->
	<ul class="p-grid">
    <li>
        <div class="p-item p-eztouch">
            <div class="p-info">
                <h3>ezTouch</h3>
                <div>An <%= link_to "Apple award-winning", "http://www.cse.ucsd.edu/node/2676", target: "_blank" %> hackathon project. ezTouch is a Mac and iOS app that allows you to remotely lock your OS X Yosemite devices with the touch of a finger.</div>
                <span>Ruby on Rails, Parse</span>
                <p><%= link_to "Visit Website", "http://www.eztouch.me", target: "_blank" %></p>
            </div>
        </div>
    </li>
		<li>
        <div class="p-item p-riftreport">
            <div class="p-info">
                <h3>Rift Report</h3>
                <div>A webapp that provides live updates for League of Legends tournament matches. A human reporter creates notifications using the web console when games are in progress.</div>
                <span>Ruby On Rails, Parse</span>
                <p><%= link_to "Visit Website", "http://www.riftreport.net/", target: "_blank" %></p>
            </div>
        </div>
    </li>
    <li>
        <div class="p-item p-dishlist">
            <div class="p-info">
                <h3>DishList</h3>
                <div>An app for saving, rating, and sharing memorable dishes at your favorite restaurants. It combines APIs from Yelp, Locu, and Parse to provide a seamless cross-platform experience.</div>
                <span>Ruby On Rails, Parse</span>
                <p><%= link_to "Visit Website", "http://dishlist.herokuapp.com/", target: "_blank" %></p>
            </div>
        </div>
    </li>
    <li>
        <div class="p-item p-juicedup">
            <div class="p-info">
                <h3>Juiced Up!</h3>
                <div>An incremental game in the style of 
			<%= link_to "Cookie Clicker", "http://orteil.dashnet.org/cookieclicker/" %>. Players obtain oranges and turn them into orange juice, which can be spent on upgrades.</div>
                <span>HTML, CSS, JS</span>
                <p><%= link_to "Play Juiced Up!", juicedup_path, target: "_blank" %></p>
            </div>
        </div>
    </li>
    <li>
        <div class="p-item p-shipprr">
            <div class="p-info">
                <h3>Shipprr</h3>
                <div>Based on the phenomenon of 
			<%= link_to "relation'shipping'", "http://en.wikipedia.org/wiki/Shipping_(fandom)", target: "_blank" %>, Shipprr is a social media website that allows users to easily
			create, follow, and discuss their favorite ships.</div>
                <span>Ruby on Rails, Bootstrap</span>
                <p><%= link_to "Visit Website", "http://www.shipprr.com", target: "_blank" %></p>
            </div>
        </div>
    </li>
    <li>
        <div class="p-item p-demigods">
            <div class="p-info">
                <h3>Demigods</h3>
                <div>A Minecraft server plugin with over 200,000 views and 25,000 downloads. Enhances combat with mythological elements.</div>
                <span>Java, Minecraft Bukkit API</span>
                <p><%= link_to "View on Bukkit", "http://dev.bukkit.org/bukkit-plugins/demigods/", target: "_blank" %></p>
            </div>
        </div>
    </li>
	</ul>
</section>
<section class="education">
	<div class="section-title">
		<div class="edu-picture">
			<%= image_tag "book.png", height: 23 %>
		</div>
		Education
	</div>
	<section>
		<div class="edu-school">
			<aside>
				<div class="ucsd-picture"></div>
				UC San Diego
			</aside>
			<article>
				<div>Bachelor of Science in Computer Science, Sept 2012 - Jun 2016</div>
				Current student, expected graduation June 2016
			</article>
		</div>
	</section>
	<section>
		<div class="edu-school">
			<aside>
				<div class="chs-picture"></div>
				Cupertino High School
			</aside>
			<article>
				<div>Graduated in 2012</div>
				<quote>“True terror is to wake up one morning and discover that your high school class is running the country.”</quote> -Kurt Vonnegut
			</article>
		</div>
	</section>
</section>
<section class="links">
	<%= link_to "https://dl.dropboxusercontent.com/u/19510798/LawrenceLukResume.pdf", class: "inline-link", target: "_blank" do %>
		<i class="fa fa-file-text-o fa-3x"></i>
		<p>resume</p>
	<% end %>
	<%= link_to "https://github.com/lawrenceluk/", class: "inline-link", target: "_blank" do %>
		<i class="fa fa-github-alt fa-3x"></i>
		<p>github</p>
	<% end %>
	<%= link_to "http://blog.lwluk.com/", class: "inline-link", target: "_blank" do %>	
		<i class="fa fa-comment-o fa-3x"></i>
		<p>blog</p>
	<% end %>
	<%= link_to "mailto:lluk@ucsd.edu", class: "inline-link", target: "_blank" do %>
		<i class="fa fa-envelope-o fa-3x"></i>
		<p>email</p>
	<% end %>
</section>
<div class="bottom">
	© Lawrence Luk 2015.
</div>

<% content_for :javascript_includes do %>
  <%= javascript_include_tag "me.js" %>
<% end %>